
@{
    ViewBag.Title = "AdminEscola";
    Layout = "~/Views/Shared/AdminViewEscola.cshtml";
}
    <div class="container align-content-center">


        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Bem Vindo</h1>
            <p class="lead">Esta é sua Home Page, aqui você tem acesso aos seus Passeios já cadastrados e disponíveis, aos Gráficos de desempenho dos alunos, e também um breve tutorial de utilização de nossa plataforma.</p>
        </div>

        <div class="container marketing">
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img class="mb-5" src="~/Content/img/book-solid.svg" alt="Generic placeholder image" width="128" height="128">
                    <h2 class="text-gray-900">Alunos</h2>
                    <p>Gerencie seus alunos.</p>
                    @Html.ActionLink("Alunos", "../Alunos/Index", new { }, new { @class = "btn btn-secondary" })
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="mb-5" src="~/Content/img/bus-solid.svg" alt="Generic placeholder image" width="128" height="128">
                    <h2 class="text-gray-900">Passeios</h2>
                    <p>Confira quais os passeios já disponíveis! </p>
                    @Html.ActionLink("Passeios", "../Escolas/Passeios", new { }, new { @class = "btn btn-secondary" })
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="mb-4" src="~/Content/img/chart-pie-solid.svg" alt="Generic placeholder image" width="128" height="128">
                    <h2 class="text-gray-900">Gráficos</h2>
                    <p>Veja o desempenho dos alunos nos testes vocacionais</p>
                    @Html.ActionLink("Gráficos", "../Escolas/Graficos", new { }, new { @class = "btn btn-secondary" })
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->
        </div>
    </div>
