@model DotNetAppSqlDb.Models.TestesModel
@{
    ViewBag.Title = "Resposta";
    Layout = "~/Views/Shared/VocacionalView.cshtml";
}

<html>
<head>
    <link href="@Url.Content("~/Content/css/vocacional-checkbox.css")" rel="stylesheet">
</head>
<body>
    <!-- Default unchecked -->
    <div class="custom-control custom-checkbox">
        <div class="container">
            
            <h2>Teste Salvo com Sucesso!!</h2>
        </div>
    </div>
</body>
</html>
