@model DotNetAppSqlDb.Models.Autorizacao
@{
    ViewBag.Title = "AutorizacaoPasseio";
    Layout = "~/Views/Shared/AlunoView.cshtml";
    int idAluno = (int)TempData["IdAluno"];
}

<html>
<head>
    <link href="@Url.Content("~/Content/css/area-aluno.css")" rel="stylesheet" />
</head>
    
<body>
    <p style="text-align:center">@TempData["Mensagem"]</p>
    @using (Html.BeginForm("CadastrarAutorizacao", "Aluno", FormMethod.Post))
    {
    <div class="form-group">
        <p class="estilo-texto2">Para poder participar dos passeios, é necessário preencher uma autorização e subir a URL logo abaixo.</p>
    </div>
     <div class="form-group">
         <label class="control-label col-md-2">URL da Imagem ou PDF</label>
         <div class="col-md-10">
             @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
             @*@Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })*@
         </div>
            @Html.HiddenFor(model => model.IdAluno, new { @Value = idAluno})
     </div>
     <div class="col-md-10">
         <input type="submit" value="Enviar Autorização" class="btn btn-primary" />
     </div>
    }
</body>
</html>

