
@{
    ViewBag.Title = "CadastroSucesso";
    Layout = "~/Views/Shared/VocacionalTesteView.cshtml";
}

<html>
<head>
    <link href="@Url.Content("~/Content/css/vocacional-checkbox.css")" rel="stylesheet">
</head>
<body>
    <!-- Default unchecked -->
    <div class="custom-control custom-checkbox">
        <div class="texto-resultado">
            <h3>Cadastro Realizado Com Sucesso!</h3>
        </div>
    </div>
</body>
</html>