
@model DotNetAppSqlDb.Models.Escola
@{
    Layout = "~/Views/Shared/AlunoView.cshtml";
}

    <h2>Dados da Escola</h2>
<p>Se esses dados não forem da sua escola, entrar em contato com nosso suporte.</p>
<ul>
    <li>
        <p>@Model.Nome</p>
    </li>
    <li>
        <p>@Model.Telefone</p>
    </li>
</ul>

