
@{
    ViewBag.Title = "EscolherPlano";

}

<div class="container">
    <div class="row align-content-center">
        <div class="column">
            <p>
                AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAH
            </p>
        </div>
    </div>
</div>

